.button {
  background-color: #0a6232;
  border: 1px solid rgb(115, 47, 179);
  color: white;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  width: 60px;
  height: 26px;
  transition: all 200ms linear;
  outline: none;
}

.button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.button:hover {
  background-color: #388b69;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  padding: 14px;
  line-height: 0.4;
}